@media (max-width: 760px)
{
    .col
    {
        margin: auto;
    }
}

.card img{
    margin-left: 45%;
}
.card{
    border: none;
}

.MyCard{
    background: inherit
}
.MyCard {
    animation: fade-in 1s ease-in-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @media (max-width: 760px) {
    .MyCard {
      animation: fade-in 1s ease-in-out;
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }