h5
{
    color: black;
}

p
{
    color: black;
}

.carousel-item img {
    height: 12rem !important;
    width: 10rem !important;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
}